/*  your css code here. If applicable */
 <title>ID Selector Styling</title>
    <style>
        #yellow {
            background-color: yellow;
            border: 1px solid green;
        }
        #red {
            background-color: red;
            border: 1px solid black;
        }
        #green {
            background-color: green;
            border: 1px solid yellow;
        }
    </style>
</head>
<body>

<p id="yellow">paragraph</p>
<p id="red">paragraph</p>
<p id="green">paragraph</p>
